.intro {
  width: 100%;
  transition: $transition;

  &__info {
    @include font-style(400, 32px, 40px, $font-secondary-color);

    @include tablets {
      @include font-style(400, 20px, 30px, $font-secondary-color);
    }

    @include mobile {
      @include font-style(400, 12px, 18px, $font-secondary-color);
    }
  }

  &__quote {
    padding: 60px 0 0;

    @include mobile {
      padding: 20px 0 0;
    }
  }
}
