$background-page-color: #000000;
$background-status-color: #25E197;
$background-card-color: #1C1C1E;
$background-cardHover-color: #232327;
$grid-top-color: #FFD233;
$grid-bottom-color: #25E197;
$primary-font-color: #ffffff;
$primory-font-reverseColor: #000000;
$font-price-color: #25E197;
$font-secondary-color: #8E8E98;
$form-input-color: rgba(142, 142, 152, 0.2);
$form-input-colorHover: rgba(142, 142, 152, 0.3);
$form-button-color: #47474C;
