@charset "UTF-8";
@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 1440px;
  margin: auto;
  padding: 60px 0px;
  background-color: #000000;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .page {
    padding: 20px 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  align-items: flex-start;
  width: 100%;
  padding: 0 160px 0;
  box-sizing: border-box;
  transition: all 0.7s ease-out;
}
@media screen and (max-width: 1400px) {
  .header {
    padding: 0 100px 0;
  }
}
@media screen and (max-width: 1279px) {
  .header {
    padding: 0 60px 0;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0 20px 0;
  }
}
.header__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 112px;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  margin: 60px 0 20px;
  transition: all 0.7s ease-out;
}
@media screen and (max-width: 1279px) {
  .header__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 70px;
    line-height: 90px;
    color: #ffffff;
    text-decoration: none;
    margin: 70px 0;
  }
}
@media screen and (max-width: 767px) {
  .header__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    text-decoration: none;
    margin: 60px 0 10px;
  }
}
.header__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 80px;
  line-height: 70px;
  color: #ffffff;
  text-decoration: none;
  margin: 0 0 230px;
  transition: all 0.7s ease-out;
}
@media screen and (max-width: 1279px) {
  .header__subtitle {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    text-decoration: none;
    margin: 0 0 470px;
  }
}
@media screen and (max-width: 767px) {
  .header__subtitle {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #ffffff;
    text-decoration: none;
    margin: 0 0 260px;
  }
}
.header__form {
  margin-bottom: 60px;
}
@media screen and (max-width: 1279px) {
  .header__form {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .header__form {
    margin-bottom: 20px;
  }
}

.block-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-direction: row;
}
.block-logo__logo {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 20px 0 0;
  cursor: url(../../../images/Pointer.png), pointer;
  transition: all 0.7s ease-out;
}
@media screen and (max-width: 767px) {
  .block-logo__logo {
    padding: 0 16px 0 0;
  }
}
.block-logo__status {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  background-color: #25E197;
  padding: 4px 8px;
  border-radius: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  transition: all 0.7s ease-out;
}
@media screen and (max-width: 1279px) {
  .form__container {
    align-self: center;
  }
}
.form__input {
  max-width: 348px;
  min-width: 229px;
  width: 100%;
  border: none;
  outline: none;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  border-radius: 8px 0 8px;
  background-color: rgba(142, 142, 152, 0.2);
  cursor: url(../../../images/Pointer.png), pointer;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.375px;
  padding: 13px 16px;
  border-radius: 8px 0 0 8px;
  box-sizing: border-box;
  transition: all 0.7s ease-out;
}
.form__input:hover {
  background-color: rgba(142, 142, 152, 0.3);
}
@media screen and (max-width: 767px) {
  .form__input {
    max-width: 100%;
  }
}
.form__submit-button {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.375px;
  display: inline-block;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #47474C;
  cursor: url(../../../images/Pointer.png), pointer;
  outline: none;
  max-width: 221px;
  min-width: 50px;
  height: 50px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  border-radius: 0 8px 8px 0;
  transition: all 0.2s ease-out;
}
.form__submit-button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .form__submit-button {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
  }
}
@media screen and (max-width: 479px) {
  .form__submit-button {
    font-size: 0;
    width: 50px;
  }
  .form__submit-button::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    width: 11px;
    height: 10px;
    background-image: url("../../../images/✌️.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.form__label {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #47474C;
  text-decoration: none;
  margin: 12px 0 0 10px;
}
@media screen and (max-width: 1279px) {
  .form__label {
    margin: 10px 0 0 10px;
  }
}
@media screen and (max-width: 767px) {
  .form__label {
    margin: 10px 0 0 2px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  flex: 1 0 auto;
}

.section {
  margin: 0;
  padding: 0;
  padding: 60px 160px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1279px) {
  .section {
    padding: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding: 40px 20px 30px;
  }
}
.section__title {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (max-width: 1279px) {
  .section__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
  }
}
@media screen and (max-width: 767px) {
  .section__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
  }
}

.photo-collage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  gap: 20px;
  padding: 60px 30px;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1279px) {
  .photo-collage {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 767px) {
  .photo-collage {
    padding: 20px;
  }
}
.photo-collage__top {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 20px;
}
.photo-collage__top::after {
  content: "";
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 180px;
  height: 100%;
  min-height: 67px;
  background-color: #FFD233;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .photo-collage__top {
    display: grid;
    grid-template-columns: minmax(280px, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }
}
.photo-collage__bottom {
  display: grid;
  grid-template-columns: 1fr minmax(455px, 730px);
  grid-template-rows: auto;
  gap: 20px;
}
.photo-collage__bottom::before {
  content: "";
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 173px;
  height: 100%;
  min-height: 124px;
  background-color: #25E197;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .photo-collage__bottom {
    display: grid;
    grid-template-columns: minmax(280px, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }
}
.photo-collage__image {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.intro {
  width: 100%;
  transition: all 0.7s ease-out;
}
.intro__info {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #8E8E98;
  text-decoration: none;
}
@media screen and (max-width: 1279px) {
  .intro__info {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8E8E98;
    text-decoration: none;
  }
}
@media screen and (max-width: 767px) {
  .intro__info {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #8E8E98;
    text-decoration: none;
  }
}
.intro__quote {
  padding: 60px 0 0;
}
@media screen and (max-width: 767px) {
  .intro__quote {
    padding: 20px 0 0;
  }
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  width: 100%;
  transition: all 0.7s ease-out;
}
@media screen and (max-width: 1400px) {
  .services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }
}
.services__offer-card {
  width: 100%;
  height: 100%;
  min-height: 282px;
  padding: 40px;
  border-radius: 16px;
  background-color: #1C1C1E;
  cursor: url(../../../images/Hand.jpg), pointer;
  box-sizing: border-box;
  transition: all 0.7s ease-out;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .services__offer-card {
    padding: 20px;
  }
}
.services__offer-card:hover {
  background-color: rgba(142, 142, 152, 0.3);
}
.services__type-span {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #8E8E98;
  text-decoration: none;
}
.services__type-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  margin: 20px 0 40px;
  transition: all 0.7s ease-out;
}
@media screen and (max-width: 767px) {
  .services__type-title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    text-decoration: none;
    margin: 10px 0 28px;
  }
}
.services__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #8E8E98;
  text-decoration: none;
  margin-bottom: 40px;
  transition: all 0.7s ease-out;
}
@media screen and (max-width: 767px) {
  .services__description {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #8E8E98;
    text-decoration: none;
    margin-bottom: 100px;
  }
}
.services__price {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #25E197;
  text-decoration: none;
  transition: all 0.7s ease-out;
}
@media screen and (max-width: 767px) {
  .services__price {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #25E197;
    text-decoration: none;
  }
}

.warranty {
  width: 100%;
  transition: all 0.7s ease-out;
}
.warranty__title {
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .warranty__title {
    margin-bottom: 40px;
  }
}
.warranty__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  list-style: none;
}
@media screen and (max-width: 1400px) {
  .warranty__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .warranty__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }
}
.warranty__item {
  width: 100%;
  height: 100%;
  min-height: 148px;
  padding: 20px;
  border-radius: 10px;
  background-color: #1C1C1E;
  cursor: url(../../../images/Hand.jpg), pointer;
  box-sizing: border-box;
  transition: all 0.7s ease-out;
}
.warranty__item:hover {
  background-color: rgba(142, 142, 152, 0.3);
}
.warranty__item-link {
  text-decoration: none;
}
.warranty__item-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #EAEAF0;
  text-decoration: none;
  margin-bottom: 38px;
}
@media screen and (max-width: 767px) {
  .warranty__item-title {
    margin-bottom: 36px;
  }
}
.warranty__item-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #8E8E98;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .warranty__item-description {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #8E8E98;
    text-decoration: none;
  }
}

.support {
  width: 100%;
  transition: all 0.7s ease-out;
}
.support__title {
  margin-bottom: 90px;
  transition: all 0.7s ease-out;
}
@media screen and (max-width: 1279px) {
  .support__title {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .support__title {
    margin-bottom: 50px;
  }
}
.support__link-email {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.375px;
  display: inline-block;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #47474C;
  cursor: url(../../../images/Pointer.png), pointer;
  outline: none;
  max-width: 221px;
  min-width: 50px;
  height: 50px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  box-sizing: border-box;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 13px 30px;
  transition: all 0.7s ease-out;
}
.support__link-email:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .support__link-email {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
  }
}
@media screen and (max-width: 767px) {
  .support__link-email {
    max-width: 100%;
    padding: 16px 30px;
  }
}
.support__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #8E8E98;
  text-decoration: none;
  padding: 50px 0 0;
}
@media screen and (max-width: 1279px) {
  .support__description {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8E8E98;
    text-decoration: none;
    padding: 40px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .support__description {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #8E8E98;
    text-decoration: none;
    padding: 40px 0 0;
  }
}

.footer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  width: 100%;
  padding: 180px 160px 0;
  box-sizing: border-box;
  transition: all 0.7s ease-out;
}
@media screen and (max-width: 1279px) {
  .footer {
    padding: 150px 60px 0;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 150px 20px 0px;
  }
}
.footer__block-logo {
  justify-content: flex-start;
  width: 100%;
  border-top: 2px solid #151515;
  padding: 60px 0 84px;
  transition: all 0.7s ease-out;
}
@media screen and (max-width: 767px) {
  .footer__block-logo {
    padding: 30px 0 184px;
  }
}
.footer__inscription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 1279px) {
  .footer__inscription {
    flex-direction: column;
  }
}
.footer__label {
  margin-left: 0;
}
.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #47474C;
  text-decoration: none;
  padding: 0 0 0 10px;
}
@media screen and (max-width: 1279px) {
  .footer__copyright {
    padding: 60px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    padding: 40px 0 0;
  }
}/*# sourceMappingURL=style.css.map */